<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>study-top</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h2> 登録完了 </h2>

	<!--	<a th:href="@{/top}">-->
	<!--		<button>TOPへ</button>-->
	<!--	</a>-->

	<form th:action="@{/top}" method="POST" th:object="${studyRegistForm}">
		<input type="hidden" name="studyContent" th:value="*{studyContent}">
		<input type="hidden" name="examDate" th:value="*{examDate}">
		<input type="hidden" name="studyTimeReq" th:value="*{studyTimeReq}">
		<input type="submit" value="TOPへ" class="tbtn">
	</form>

</body>

</html>